.main-nav{
    position: fixed;
    z-index: 5;    
    height: 90px;
    margin: 0 auto;
    padding: 15px 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.534);
    transition:all ease-in-out 0.3s;
    a{
        color: white;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        font-size: 19px;
    }
}
.container {
    width:60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-menu {
    a{
        padding-left: 22px;
        opacity: 80%;
        transition: all ease-in-out 0.3s;
        &:hover{
            opacity: 100%;
        }
    }
}

.logo{
    a{font-size: 29px;
    }
    
}

.swiper-container {
    height: 100vh;
    margin: auto;
}

.swiper-slide img {
    position: absolute;
    top:0;
    width: 100%;
    height:100%;
    object-fit: cover;
    
}


.swiper-slide::after{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.30);
    z-index: 1;
}

.info-slide{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    text-align: center;
    
    p{color: white;
        font-size: 18px;
    }
    button{
        margin-top: 30px;
        transition: all ease-in-out 0.3s;
        &:hover{
            background-color: black;
        }
    }
}

.swiper-pagination{
    margin-bottom: 60px;
}
.swiper-pagination-bullet{
    background-color:#37cfa2;
    width: 15px;
    height: 15px;
    border: 0px;
}

.hide{
    background-color:white!important;
    height: 82px!important;
    margin-top: -15px;
    box-shadow: 5px 5px 5px rgba(41, 40, 40, 0.24);
    a {color: black!important;
    }
    .burger-menu > div{
        background-color: grey;
        margin-top: -15px;
    }
}


  
  


  
  @media screen and (min-width:1200px) {
    .burger-menu {
      display: none;
    }
  
    .main-nav{
      transform:translateX(0);
      background:none;
      flex-direction:row;
      justify-content:flex-end;
      align-items:flex-start;
      padding-top:30px;
      padding-right:30px;
    }
    
  }

  @media screen and (max-width:1200px) {
      .main-nav{
      display: flex;
      .main-menu{
          position:fixed;
          display: flex;
          flex-direction: column;
          height: 100vh;
          background-color: white;
          max-width: 250px;
          width: 100%;
          top: 0px;
          right: -300px;
          padding-top: 100px;
          z-index: 50;
          transition:all ease-in-out 0.5s ;
          a{
            color: black;
            font-family: "Roboto" !important;
            text-transform: none;
            font-weight: 400;
            margin-bottom: 30px;
            opacity: 1;
          }
      }
      .active{
        right: 0px!important;
    }
        }
    .burger-menu {
        width: 40px;
        height: 40px;
        position: fixed;
        top:20px;
        right:30px;
        border-radius:7px;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items:center;
        z-index:150;
        cursor:pointer;
        transition:.5s all cubic-bezier(0.68, -0.55, 0.265, 1.55);

      }
      .burger-menu div {
        width: 70%;
        height: 3px;
        background:white;
        margin:3px 0;
        transition:.3s all ease-in-out;
       }

       .active2{
            background-color: #37cfa2!important;
        }
}
