.catalogue{
    position: relative;
    display: flex;
    width: 1100px;
    justify-content: space-between;
    
}

.article{
    width: 300px;
    position: relative;
    cursor: pointer;   
    img{
        width:100%;
    }
    p{
        color: rgb(102, 101, 101);
        line-height: 30px;
        font-size: 16px;
    }
    h3{
        font-size: 22px;
    }
}

.article:after{
    content: ' ';
    width: 100%;
    height: 97%;
    background-color: black;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: -2;
    opacity: 0;
    transition: .3s ease-in-out;
}

.article:hover:after{
    left: 20px;
    opacity: 1;
}

.article:hover .article-info{
    margin-left: 50px;
    h3{
        color: white;
    }
}
.article-info{
    transition: .3s ease-in-out;

}

.first-section{
    h2{
        margin:37.5px 0px;
    }
}

.second-section{
    h2{
        margin:50px 0px 10px 0px;
    }
    p{
        margin-bottom: 40px;
    }
}

.article2{
    width: 360px; 
    margin-bottom: 50px;
    background-color: #37cea1;
}

.article-img{
    overflow: hidden;
    img{
        width: 360px;
        transition: all ease-in-out 0.4s;
    }
}

.article-img:hover{
    overflow: hidden;
    img{
        transform: scale(1.1);
    }
}

.article-txt{
    padding-left: 15px;
    height: 75px;
    p{
        line-height: 30px;
        font-size: 16px;
        font-weight: bold;
    }
    h3{
        font-size: 16px;
    }
}

.left{
    margin-left: 30px;
}

.help {
    position: relative;
    display: flex;
    align-items: center;
}

.background-green{
    background-color: #37cea1;
    h2{
        margin: 50px 0px 40px 0px;
        padding-top: 75px;
        text-align: center;
    }
}

.astuce{
    width: 25%;
    margin-bottom: 50px;
    text-align: center;
    i {
        font-size:45px;
    }
    p{
        font-weight: bold;
        font-size: 15px;
    }
    h3{
        font-size:18px;
    }
}

.ligne{
    padding-bottom: 75px;
    width:10%;
    margin: 0px 10px;
    border-top: 1px solid black;
}

.info{
    span{
        font-size: 14px;
        margin-right: 10px;
        a{
            text-decoration: none;
            color:#37cea1;
        }
    }
}


.info span:not(:last-child)::after {
    content: "•";
    position: relative;
    margin-left: 10px;
}

.article3{
    width: 33%;    
    margin-bottom: 75px;
    img{
        width:100%;
    }
    span{
        color: rgb(102, 101, 101);
        font-size: 14px;
    }
    h3{
        font-size: 18px;
    }
}

@media screen and (max-width:1200px) {
    .catalogue{
        display: flex;
        
    }
    .article:not(:first-child){
        margin-left: 50px;
    }
    .article2{
        width: 320px;
    }
}


@media screen and (max-width:1015px) {
    .first-section, .second-section{
        padding-left: 50px;
        padding-right: 50px;
    }
    .catalogue{
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-around;
    }
    .article:not(:first-child){
        margin-left: 50px;
    }
    .article2{
        width: 320px;
    }
}

@media screen and (max-width:715px) {
    .first-section, .second-section{
        padding-left: 25px;
        padding-right: 25px;
    }
    .catalogue{
        display: flex;
        flex-direction: column;
        width: 700px;
        margin:0 auto;
        left: 25%;
    }
    .article:not(:first-child){
        margin-left: 0px;
    }
    .article{
        margin-bottom: 30px;
    }
    .article2{
        width: 320px;
    }
    .left{
        margin-left: 0px;
    }
    .ligne{
        display: none;
    }
    .help{
        display: flex;
        flex-wrap:wrap ;
        left: 12.5%;

    }
    .astuce:not(:first-child){
        padding-left: 10px;
        padding-right: 10px;
    }
    .article3{
        width: 323px;
    }
}

.agent{
    display: flex;
    flex-wrap: wrap;
    padding-right: 50px;
    padding-left: 50px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

.agent-description {
    max-width: 760px;
    width: 100%;
    .one {
        font-weight: 200;
        font-size: 22px;
        line-height: 35px;
    }
    p {
        font-weight: 400;
        color: grey;
        line-height: 25px;
    }
}
.agent-profile{
        max-width: 300px;
        width: 100%;
         .research {
            padding: 5px;
            margin-bottom: 20px;
            background-color: #f2f2f2;
        }
        img{
            width: 100%;
        }
}
